.p-nav{
    background-color: transparent;
    position: fixed;
    top: 0px;
}
.test-ul{
    position: fixed;
    right: 0px;
}

.btn-log{
    background-color: var(--celesteScuro);
    margin-right: 30px;
}

.btn-reg{
    background-color: var(--obsidianGray);
    margin-right: 30px;
}
.nav-link{
    color: var(--panna);
    font-family:'Montserrat Alternates', sans-serif ;
}

a{
    transition: all 0.2s;
}

a:hover{
    color: var(--panna);
    transform: scale(1.1);
}
