
:root{
    --main-color: #B2EDC5;
    --sec-color: #fee440;
    --custom-black: #000000d5;
}

.secColor{
    color: var(--sec-color);
}

.dropdown-divider{
    color: black;
}

.allCards{
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.4s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.433);
}

.allCards:hover{
    border-radius: 20px;
    max-width: 1000px;
    overflow: hidden;
    transform: scale(1.03);
}


.rowToCheck{
    max-width: 600px;
    border-radius: 20px;
    height: 150px;
    position: relative;
}

.revisorBtns{
    border-radius: 30px;
    padding: 10px 20px;
    width: 230px;
}

.divDiv{
    border-radius: 50%;
    border: 3px solid var(--starry);
    overflow: hidden;
    z-index: 100;
    background-color: var(--panna);
}

.bellaFotoDiv{
    width: 220px!important;
    height: 220px!important;
}

.bellaFoto{
    width: 100%;
    height: 100%;
}

.imgDiv{
    height: 200px!important;
    width: 200px!important;
    border-radius: 100px;
}

.revisionBox{
    max-width: 900px;
}

.infoBox{
    padding-top: 100px;
    border: 3px solid var(--starry);
    border-radius: 50px;
    transform: translateY(-110px);
    background-color: #0493e080;
    height: 440px;
}

/* .priceAndCreated{
    position: absolute;
    bottom: 16px;
} */

.titleToCheck{
    /* transform: translateX(-18px); */
    /* background-color: green; */
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.descriptionToCheck{
    /* transform: translateX(10px); */
    margin-top: 6px;
    max-width: 90%;
}

#prevNext{
    z-index: 120;
}

.buttonsRow{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.announceCard{
    border: 1px solid black;
    border-radius: 30px;
    height: 112px;
}

.revisionLabels{
    font-size: 14px;
    padding-top: 10px;
}

.rowToCheck > h5 > a{
    text-decoration: none;
    color: var(--bs-body-color);
    font-size: 18px;
    font-weight: 600;
}

.titleSpan{
    font-weight: 600;
    font-size: 20px;
}

.createdOKNO{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.deniedAccess, .welcomePageMessage{
    position: absolute;
    top: 75px;
    width: 100%;
}

/* Work with us */

h6{
    font-size: 20px;
}

textarea{
    min-height: 100px!important;
}

#workWithUsContainerFluid{
    background-image: url(/media/Animated\ Shape\ \(7\).svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#contactUsRow{
    align-items: center;
    justify-content: center;
}

@keyframes bounce {
    0%, 20%, 40%, 60%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	30% {
		-webkit-transform: translateY(-20px);
		-ms-transform:     translateY(-20px);
		transform:         translateY(-20px)
	}
    50% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
    }
}

.bounce_button {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#wannaWorkWithUs{
    font-size: 22px;
}

#contactUsFormCard{
    border-radius: 30px;
    border: 4px solid var(--sec-color);
    box-shadow: 1px 1px 10px var(--custom-black);
    max-width: 400px;
    position: relative;
    font-size: 16px;
    transition: 0.2s;
}

#contactUsFormCard:hover{
    transform: scale(1.03);
}

#contactUsLeftPart{
    text-align: center;
}

#contactUsWords{
    background-color: var(--sec-color);
    border-radius: 30px;
    padding: 10px 20px;
    max-width: 270px;
    margin: auto;
}

#contactUsH5{
    font-size: 16px;
    margin: 30px auto;
}

.form-control, .form-select{
    border-radius: 10px;
    font-size: 0.95rem!important;
}

.form-floating > label{
    font-size: 0.95rem!important;
}

.form-control:focus, .form-select:focus{
    box-shadow: none!important;
    border: 1px solid var(--sec-color)!important;
}

#contactUsFormCard > .form-floating{
    width: 90%;
}

.customInput{
    width: 90%;
    position: relative;
}

.customInput > .form-control{
    padding: 1rem 0.75rem;
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}

.mt-pers{
    margin-top: 30px;
}

.fs-pers{
    font-size: 13px;
    font-style: italic;
}

.mobile-center{
    margin-top: 70px;
    text-align: center;
}

#revisorFormBtnsDiv{
    width: 70%;
}

#inputFileLabel{
    display: block;
    text-align: center;
    line-height: 220%;
    border: 2px solid var(--sec-color);
    color: var(--custom-black);
    background-color: transparent;
    height: 45px;
    width: 80%;
    border-radius: 30px;
    margin: 30px auto 7px auto;
    transition: 0.2s;
    /* padding: 0px 50px; */
}

#inputFile{
    display: none;
}

#okCVIcon{
    transform: translateX(-2px);
}

#sendApplicationBtn{
    border-style: none;
    color: black;
    background-color: var(--sec-color);
    height: 45px;
    width: 80%;
    border-radius: 30px;
    margin: 7px auto 30px auto;
    transition: 0.2s;
}


#inputFileLabel:hover, #sendApplicationBtn:hover{
    transform: scale(1.1);
}

#formArrows{
    text-shadow: 0px 0px 5px var(--custom-black);
}




/* Media query */

@media screen and (min-width: 393px){

    #contactUsH5{
        font-size: 20px;
    }
}

@media screen and (min-width: 480px){

    #logoText, #logoText span{
        font-size: 35px;
    }
    
    #pSpan{
        font-size: 70px!important;
    }

    #dotSpan{
        font-size: 50px;
    }
}


@media screen and (min-width: 768px){
    
    /* .cardH2{
        font-size: 26px;
        margin-bottom: 0px;
    }
    
    
    .createdSpan{
        position: absolute;
        right: 40px;
        bottom: 6px;
        font-style: italic;
        font-size: 14px;
    }
    
    .priceSpan{
        position: absolute;
        right: 40px;
        top: 20px;
        background-color: var(--irises);
        border-radius: 8px;
        padding: 4px 8px;
        color: white;
    } */
    .mobile-center{
        
        text-align: start;
    }

    .mt-pers{
        margin-top: 100px;
    }

    .fs-pers{
        font-size: 13px;
        font-style: italic;
    }
    


    @keyframes bounce {
        0%, 20%, 40%, 60%, 100% {
            -webkit-transform: translateX(0);
            -ms-transform:     translateX(0);
            transform:         translateX(0)
        }
        30% {
            -webkit-transform: translateX(-20px);
            -ms-transform:     translateX(-20px);
            transform:         translateX(-20px)
        }
        50% {
            -webkit-transform: translateX(-10px);
            -ms-transform:     translateX(-10px);
            transform:         translateX(-10px)
        }
    }

    #contactUsWords{
        transform: scale(0.9);
    }

    .fa-circle-arrow-down{
        transform: rotate(270deg);
    }
    
    #contactUsLeftPart{
        text-align: end;
    }
    
}

@media screen and (min-width: 992px){
    
    #contactUsWords{
        transform: scale(1);
        margin: 0px 20px 0px 65px;
    }
    
    #workWithUsContainerFluid{
        background-image: url(/media/Animated\ Shape\ \(6\).svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .titleToCheck{
        transform: translateX(-13px);
        font-size: 26px;
    }

    #categoryToCheckLabel, #descriptionToCheckLabel{
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        padding-top: 7px;
    }
    .categoryToCheck{
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    #categoryToCheck{
        transform: translateX(6px);
    }
        
    .descriptionToCheck{
        transform: translateX(-30px);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    .priceToCheck{
        transform: translateX(-4px);
    }

    .createdToCheck{
        transform: translateX(-22px);
    }

    .rowToCheck{
        height: 200px;
    }
    
    .revisionBox{
        background-color: #0493e080;
        border-radius: 100px;
        border: 3px solid var(--starry);
    }

    .infoBox{
        border: none;
        background-color: transparent;
        height: 200px;
    }
    
    .buttonsRow{
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
    }
        
    .createdToCheckDiv{
        position: absolute;
        bottom: -75px;
        right: -10px;
    }

    .priceToCheckDiv{
        position: absolute;
        bottom: 25px;
        right: 5px;
    }

    #priceLabel{
        transform: translateX(-18px);
    }

    #titleToCheckLabel{
        transform: translateX(-30px);
    }
}

@media screen and (min-width: 1200px){

    #contactUsWords{
        margin: 0px 20px 0px 130px;
    }

    #contactUsFormCard{
        transform: translateX(-35px)
    }

    #contactUsFormCard:hover{
        transform: scale(1.03) translateX(-35px);
    }

}

@media screen and (min-width: 1400px){

    #contactUsWords{
        margin: 0px 20px 0px 200px;
    }
    
    #contactUsFormCard{
        transform: translateX(-60px);
    }
    
    #contactUsFormCard:hover{
        transform: scale(1.03) translateX(-60px);
    }

    #contactUsLeftPart{
        transform: translateX(-40px)
    }

}
