.presto-nav{
    background-color:transparent;
    z-index: 2000;
    width: 90vw;
    text-align:center;
    right:0px;
}    

.presto-nav .nav-link, .presto-nav .nav-link.active{
    color: var(--starry);
    transform: scale(1.1);
}    

/* .presto-nav .nav-link:hover, .presto-nav .nav-link.active:hover{
    color: var(--panna) !important;
}     */

.presto-nav2{
    background-color: var(--panna);
    z-index: 2000;
    width: 90vw;
    text-align:center;
    right:0px;
    margin: 0px auto;
}    

.presto-nav2 .nav-link, .presto-nav2 .nav-link.active{
    color: var(--starry);
    transform: scale(1.1);
}    

.presto-nav2 .nav-link:hover, .presto-nav2 .nav-link.active:hover{
    color: var(--starry) !important;
}    

#navbarContainerfluid{
    width: 100%!important;
}

.nav-link{
    color: var(--obsidianGray);
}

.dropBgSmall1, .dropBgSmall2{
    background-color: var(--panna);
    border-radius: 15px;
    width: 190px;
}

.dropBgSmall1 > li > a, .dropBgSmall1 > a, .dropBgSmall1 .dropdown-divider, .dropBgSmall2 > li > a, .dropBgSmall2 > a, .dropBgSmall2 .dropdown-divider{
    color: var(--starry) !important;
}

.dropdown-item{
    color: black;
}
.dropdown-menu{
    color: var(--obsidianGray);
    border-color: var(--panna);
}

.badge-class{
    right: 0px;
}

.title-nav, .title-nav2{
    font-size: 50px;
    font-family:'Montserrat Alternates', sans-serif;
    font-weight: 600;
    padding-left: 20px;
}

.title-nav:hover{
    color: var(--panna);
}

.title-nav2:hover{
    color: var(--starry);
}

.nav-item {
    font-family: 'Lato', sans-serif;
    color: var(--obsidianGray);
}

.nav-item {
    
    font-family: 'Lato', sans-serif;
}

nav.presto-nav, nav.presto-nav2 {
    width: 100%;
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color: #0375B4;
    box-shadow: 5px -1px 12px -5px grey;
}

#generalNavBarUl{
    transform: translateX(-20px);
}

#navbarTogglerIcon{
    color: var(--panna);
}

#navbarTogglerIcon2{
    color: var(--starry);
}

.presto-nav2 .navbar-toggler{
    color: var(--orange);
    border: transparent;
    transition: all 0.5s;
    border: none;
    font-size: 30px;
    transform: rotate(0deg);
}

.presto-nav2 .navbar-toggler:focus{
    box-shadow: none;
}

.presto-nav .navbar-toggler{
    color: var(--orange);
    border: transparent;
    transition: all 0.5s;
    border: none;
    font-size: 30px;
    transform: rotate(0deg);
}

.presto-nav .navbar-toggler:focus{
    box-shadow: none;
}

.rotateIcon{
    transform: rotate(90deg);
    transition: all 0.8s;
}

.rotateIcon2{
    transform: rotate(0deg);
    transition: all 0.8s;
}

.dropBgBig1{
    background-color: var(--panna);
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropBgBig1 > li > a, .dropBgBig1 > a{
    color: var(--starry) !important;
}

.dropBgBig1 > li > a:hover, .dropBgBig1 > a:hover{
    color: var(--starry) !important;
}

.badge-class-gen{
    right: 70px;
}
/* .dropdown-item-gen{
    color: black;
} */

#languageLiDropdown{
    width: 40px!important;
    transition: all 0.2s;
}

#dropdownMenuLanguages{
    transition: all 0.2s;
}

#languagesMenuUl{
    width: 40px!important;
    transform: translateX(-60px);
    justify-content: end;
    background-color: var(--panna)!important;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    transition: all 0.2s;
    border-radius: 15px;
}

#languagesMenuForm{
    width: 100%;
}

#languagesBtns{
    background-color: transparent;
    border:none;
    margin-left: 65%;
}

#languageTitle{
    position: absolute;
    top: 8px;
    left: 32px;
}

@media screen and (min-width: 768px){
    .dropBgSmall1, .dropBgSmall2{
        margin: 15px 30px;
        transform: translateX(-20px);
    }
    
    .dropdown-item{
        color: var(--panna);
    }

    .dropBgBig1{
        background-color: transparent;
    }
    
    .dropBgBig1 > li > a, .dropBgBig1 > a{
        color:var(--panna) !important;
    }

    .dropBgBig1 > li > a:hover, .dropBgBig1 > a:hover{
        color:var(--panna) !important;
    }

    .badge-class-gen{
        right: -7px;
    }
    
    #languagesMenuUl{
        transform: translateX(-105px);
    }
}


@media screen and (min-width: 992px){

    .dropBgSmall1,.dropBgSmall2{
        transform: translateX(-10px);
    }

    .title-nav, .title-nav2{
        padding-left: 60px;
    }
}
    