:root {
    --celesteScuro: rgb(137, 176, 174);
    --celesteChiaro: rgb(190, 227, 219);
    --obsidianGray: rgb(85, 91, 110);
    --panna: rgb(250, 249, 249);
    --orange: rgb(255, 130, 81);

    --papaya : #E24E42;
    --mustard : #E9B000;
    --blush : #EB6E80;
    --aqua : #008f95;
    --irises : #007849;
    --indigo : #30415D;
    --crimson : #CF6766;
    --starry : #0375B4;
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--obsidianGray);
}

a:hover {
    color: var(--obsidianGray);
}

.verde{
    color: var(--irises);
}

.verdeBg{
    background-color: var(--irises);
}

.papaya{
    color: var(--papaya);
}

.papayaBg{
    background-color: var(--papaya);
}

.bluScuro {
    color: var(--celesteScuro);
}

.bluScuroBg {
    background-color: var(--celesteScuro);
}

.panna {
    color: var(--panna);
}

.pannaBg {
    background-color: var(--panna);
}

.bluChiaro {
    color: var(--celesteChiaro);
}

.bluChiaroBg {
    background-color: var(--celesteChiaro);
}

.orange{
    color: var(--orange);
}

.orangeBg{
    background-color: var(--orange);
}

.paytone {
    font-family: 'Paytone One', sans-serif;
}

.montsterrant {
    font-family: 'Montserrat Alternates', sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.obsidiangray{
    color: var(--obsidianGray);
}

.obsidiangrayBg{
    background-color: var(--obsidianGray);
}

.orangeBg{
    background-color: var(--orange);
}

body {
    background-color: var(--panna);
}

.cover {
    background-image: url("/media/cover01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.title {
    color: var(--panna);
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
}

.subtitle{
    color: var(--panna);
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}

.ultimiAnnunci{
    padding-top: 5rem;
    padding-bottom: 2rem;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
}

.boxTitle {
    padding-left: 200px;
    width: 580px;
    position: relative;
}

.customBtnBuy {

    background-color: var(--starry);
    color: var(--panna);
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    width: 18vh;
    height: 6vh;
    border-radius: 15px;
    border-style: none;
    z-index: 1;
    position: relative;
    transition: all 0.5s;
    box-shadow: 2px 2px 4px var(--obsidianGray);

}

.customBtnBuy::before {
    border-radius: 15px;
    border-style: none;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.8s;
    opacity: 0;
}

.customBtnBuy:hover {
    transform: scale(1.1);
}

.customBtnBuy:hover::before {
    opacity: 1;
}

.customBtnSell {

    background-color: var(--papaya);
    /* background-image: linear-gradient(to right, var(--orange), #FAF9F9); */
    color: var(--panna);
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    width: 18vh;
    height: 6vh;
    border-radius: 15px;
    border-style: none;
    z-index: 1;
    position: relative;
    transition: all 0.5s;
    box-shadow: 2px 2px 4px var(--obsidianGray);

}

.customBtnSell::before {
    border-radius: 15px;
    border-style: none;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.8s;
    opacity: 0;
}

.customBtnSell:hover {
    transform: scale(1.1);
}

.customBtnSell:hover::before {
    opacity: 1;
}



.btnPers {
    border: none;
    width: 150px;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}


/* CARDS */

.skill-card {
    padding: 20px;
    width: 22em;
    background-color: #FAF9F9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}


.skill-card .skill-card__header {
    position: relative;
    background-color: #FAF9F9;
    height: 250px;
    margin: -20px -20px 20px -20px;
    transition: height .5s;
    overflow: hidden;
}

.skill-card .skill-card__header .skill-card__icon {
    position: absolute;
    display: block;
    width: 100%;
    height: 300px;
    transition: transform .5s;
}

.skill-card .skill-card__body {
    height: 80px;
    transition: height .5s;
    overflow: hidden;
}

.skill-card .skill-card__body .skill-card__title {
    color: #007849;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.skill-card .skill-card__body .skill-card__duration {
    color: #141414d0;
    font-size: 18px;
    font-weight: bold;
}

.skill-card .skill-card__body .skill-card__duration__category {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: var(--papaya);
    transition: all 0.5s;
}
.description{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.skill-card .skill-card__body .skill-card__knowledge {

    margin-top: 10px;
    color: var(--indigo);
}

.skill-card .skill-card__body .skill-card__knowledge li {
    margin-top: 5px;
    transition-duration: 0;
    transition-delay: .5s;
    transform: translateX(-100%);
}

.btnPersonalizzato {
    background-color: var(--papaya);
    color: #FAF9F9;
}

.btnPersonalizzato:hover {
    background-color: var(--papaya);
    color: #FAF9F9;
}

.created {
    font-size: 13px;
    font-style: italic;
}


/*  ^^ CARDS ^^ */

.cardCategory{
    height: 150px;
    width: 220px;
    /* background-color: var(--starry); */
    background-image: url("https://images.unsplash.com/photo-1569370087950-b02664fad13b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
    transition: 0.5s;
    border-radius: 10px;

  }

.cardCategory:hover{
    transform: scale(1.1);
}
  

  .nostreCategorie{
    color: var(--irises);
    padding-top: 5rem;
    padding-bottom: 2rem;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
}

.uppercase{
    color: var(--panna);
    font-family: 'Lato', sans-serif;
   font-weight: 900;
    text-transform: uppercase;
}

.counterAnnunci{
    font-size: 13px;
    color: var(--panna);
}

.customBg{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(226%2c 78%2c 66%2c 1)'%3e%3c/rect%3e%3cpath d='M1191.8465714543033 466.40714333359097L1268.498157283839 524.1682562822396 1316.814033792044 380.3103210636117z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1119.251511428511 180.47205565166817L1153.8746043380713 132.8174565401559 1065.0811592160228 104.71011673157179z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1498.244703262861 11.877315081454583L1361.4141470703623-19.84989108855229 1395.2582162108517 98.1784044703412z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1182.4204716841193 104.67080802562847L1269.0038577751475 89.40382097668218 1167.153484635173 18.087421934600357z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1394.6305802098407 102.68352595418597L1233.9386255608572 148.76120247834564 1440.7082567340003 263.37548060316954z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M916.1784662258942 124.29534309393696L730.0730899667919 156.92789605354062 834.0162854515796 285.287052598872z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M590.2063781474999 198.81232091665993L605.7521669560234 88.95803440863955 515.2072829604272 123.7149589310028z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M129.06285004034822 475.08857428518576L39.35657689258099 427.3909027733171 81.36517852847957 564.794847432953z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1166.5521114175262 87.40671627865026L1226.1537046703284 179.37689161459647 1271.1302377442485 94.78833554294985z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1214.2714274372463 114.57902601170628L1303.3786770717525 152.40280942325666 1252.0952108487966 25.471776377200058z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1251.4564913174615-48.28693033950328L1163.9973423108397 22.536092082882128 1322.279513739847 39.17221866711862z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M293.369632144071 489.1277837054374L393.0997810761027 492.61043724767063 296.8522856863042 389.3976347734057z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M421.41981688438875 174.40962498294112L267.7835200256162 187.85105926418726 434.8612511656349 328.0459218417136z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1103.755353218646 41.06929214339364L1217.740641454957 87.12233795024294 1149.8083990254952-72.91599609291755z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M131.48736331650707 327.42709845259355L192.03965443876487 197.57229108820215 1.6325559521156663 266.8748073303358z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M900.8660564861776 189.0514650966503L923.2784034876418 294.98961285043947 994.7164634215194 232.88945477459882z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M352.6466125179729 329.4245969473681L292.3151997651976 283.96161651909085 254.28643549916936 397.19022586239254z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M646.3822124232742 485.33076742455387L634.4373016547395 348.79981258838666 509.85125758710694 497.2756781930885z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M818.9262932450874 461.8451994043511L811.9462074631308 362.025322193369 719.1064160341053 468.8252851863078z' fill='rgba(255%2c 255%2c 255%2c 0.29)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.test{
    margin-top: 150px;
    box-shadow: -1px -1px 30px 1px #aeaeae;
    border-radius: 15px;
}




.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

.btnP{
    background-color: var(--irises);
    color: var(--panna);
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border-radius: 10px;
    padding: 18px;
    border-style: none;
    transition: 0.5s;
    box-shadow: -1px -1px 33px 1px var(--obsidianGray);
}

.btnP:hover{
    background-color: var(--panna);
    color: var(--irises);
}


.title-annuncio-box {
    color: var(--papaya);
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}
.subtitle-annuncio-box {
    color: var(#1b1b1b);
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

.tuttigliannunci{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: var(--papaya);
}

.xxx{
    border-radius: 10px;
    background-color: rgba(3, 117, 180, 0.6);
}

.category-name-cards{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.main-text-category-cards{
    color: var(--starry);
    font-size: 34px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.super-main-text-category-cards{
    color: var(--obsidianGray);
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.btn-category-cards{
    width: 300px;
    height: 45px;
    background-color: var(--starry);
    color: var(--panna);
}
.img-preview{
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.previewbox{
    border-radius: 10px;
}

.hhh{
    height: 100%;
    width: 100%;
}










@media screen and (min-width:768px) {


    .title {
        font-size: 80px;
    }

    .skill-card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .skill-card:hover .skill-card__header {
        height: 40px;
    }

    /* .skill-card:hover .skill-card__header .skill-card__icon {
                      transform: scale(2); } */
    .skill-card:hover .skill-card__body {
        height: 250px;
    }

    .skill-card:hover .skill-card__body .skill-card__knowledge li {
        transform: translateX(0);
        transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
        transition-duration: .5s;
    }

    .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
        transition-delay: 0.25s;
    }

    .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
        transition-delay: 0.5s;
    }

    .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
        transition-delay: 0.75s;
    }

    .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
        transition-delay: 1s;
    }

    .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
        transition-delay: 1.25s;
    }

    .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
        transition-delay: 1.5s;
    }

    .skill-card .skill-card__body .skill-card__duration__category:hover {
        color: var(--celesteChiaro);
        font-weight: bolder;
    }
}