.nav-link{
    color: var(--panna);
}

.nav-link:hover{
    color: var(--papaya);
}

#footerH5{
    color: var(--panna);
}
.nav-item {
    font-family: 'Lato', sans-serif;
}

.presto-foo{
    background-color: var(--starry);
}

.p-font:hover{
    color: var(--papaya);
}
.papayaBg:hover{
    color: var(--panna);
}

#footerPrestoLogo{
    text-align: center;
}
